.tabs {
  max-width: 60rem;
  margin: 0 auto 8rem;

  @include respond(mobile) {
    margin-bottom: 6rem;
  }
}

.tab {
  transition: background-color 0.5s;

  &:hover {
    @media (hover: hover) {
      background-color: rgba($color-dark-blue-1, 0.6);
    }
  }
}
