.timeline {
  max-width: 120rem;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  position: relative;

  @include respond(tablet) {
    max-width: 50rem;
  }

  &::after {
    // the timeline itself
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    width: 0.6rem;
    background-color: $color-blue;
    z-index: -1;
  }

  &__side {
    width: 50%;
    padding: 2rem 4rem;
    position: relative;

    @include respond(tablet) {
      width: 100%;
      padding: 3rem 0 0;

      &:not(:last-child) {
        margin-bottom: 7rem;
      }
    }

    &::before {
      // the gradients at the top and bottom of the timeline
      content: "";
      position: absolute;
      width: 0.6rem;
      height: 4rem;
      z-index: 2;

      @include respond(tablet) {
        left: 50% !important;
        right: initial !important;
        transform: translateX(-50%) !important;
      }
    }

    &::after {
      // the circles on the timeline
      content: "";
      position: absolute;
      bottom: 5rem;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $color-blue;
      border: 4px solid $color-azure;
      border-radius: 50%;
      z-index: 5;

      @include respond(tablet) {
        bottom: 100%;
        left: 50% !important;
        right: initial !important;
        transform: translateX(-50%) !important;
      }
    }

    &.left {
      align-self: flex-start;

      &::before,
      &::after {
        right: 0;
        transform: translateX(50%);
      }
    }

    &.right {
      align-self: flex-end;

      &::before,
      &::after {
        left: 0;
        transform: translateX(-50%);
      }
    }

    &:first-child {
      margin-top: 4rem;

      &::before {
        top: -4rem;
        background-image: linear-gradient(
          to bottom,
          $color-dark-blue-2,
          $color-blue
        ) !important;
      }
    }

    &:last-child {
      margin-bottom: 4rem;

      &::before {
        bottom: -4rem;
        background-image: linear-gradient(
          to top,
          $color-dark-blue-2,
          $color-blue
        );
      }
    }
  }

  &__card {
    border-radius: 0.8rem;
    background-color: $color-dark-blue-2;
    padding: 3rem 3.5rem;
    word-wrap: break-word;
    position: relative;
    z-index: 10;

    @include respond(tablet) {
      text-align: center;
    }

    @include respond(mobile) {
      padding: 3rem 2.5rem;
    }

    &::after {
      // the arrows on the cards
      content: "";
      position: absolute;
      bottom: 3rem;
      border: medium solid;

      @include respond(tablet) {
        bottom: calc(100% - 0.6rem);
        left: 50% !important;
        right: initial !important;
      }
    }
  }

  &__side.left &__card::after {
    right: -1.2rem;
    border-width: 1.2rem 0 1.2rem 1.2rem;
    border-color: transparent transparent transparent $color-dark-blue-2;

    @include respond(tablet) {
      transform: translateX(-50%) rotate(-90deg);
    }
  }

  &__side.right &__card::after {
    left: -1.2rem;
    border-width: 1.2rem 1.2rem 1.2rem 0;
    border-color: transparent $color-dark-blue-2 transparent transparent;

    @include respond(tablet) {
      transform: translateX(-50%) rotate(90deg);
    }
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;

    @include respond(mobile) {
      font-size: 2.5rem;
    }
  }

  &__date {
    display: flex;
    align-items: center;

    @include respond(tablet) {
      justify-content: center;
    }
  }

  &__date-icon {
    margin-right: 0.8rem;
    font-size: 1.6rem;

    @include respond(mobile) {
      font-size: 1.5rem;
    }
  }

  &__date-text {
    font-weight: 600;
    font-size: 1.3rem;
    transform: translateY(1.25px);

    @include respond(mobile) {
      font-size: 1.2rem;
    }
  }

  &__description {
    margin: 2.5rem 0;
    font-size: 1.5rem;
    line-height: 1.6;

    @include respond(mobile) {
      font-size: 1.4rem;
    }
  }

  .button {
    font-weight: 600;
    width: 100%;
    max-width: 20rem;
    position: relative;
    transition: all 0.3s;

    @include respond(mobile) {
      font-size: 1rem;
    }

    &__icon {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      text-indent: -3rem;
      opacity: 0;
      color: #000;
      transition: all 0.3s;
    }

    &:hover {
      text-indent: -2.5rem;
    }

    &:hover .button__icon {
      opacity: 1;
      text-indent: 0;
    }
  }
}

.react-pagination-js-border-bottom {
  display: flex;
  justify-content: center;
  margin: 0 -7vw;

  ul {
    font-size: 1.5rem;

    @include respond(mobile) {
      font-size: 1.4rem;
    }
  }

  li {
    &.is-active {
      color: $color-azure;
      border-bottom: 1px solid $color-azure;
    }

    &.page:hover {
      border-bottom: 1px solid $color-azure;
    }
  }
}
