.header {
  width: 100%;
  height: 39rem;
  background: $color-dark-blue-2;
  padding: 5rem $padding-side-desktop;
  position: relative;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 18rem;
    display: block;
  }

  &__text {
    margin: 6rem auto 0;
    text-align: center;
    width: 100%;
    max-width: 50rem;
    line-height: 1.6;
  }
}
